@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

body,
html {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #fff;
}

.btn {
  width: 350px;
  height: 70px;
  border-radius: 10px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #55a37a;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
  -webkit-box-shadow: 0px 1px 21px 0px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 1px 21px 0px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  color: #fff;
}

.btn:hover {
  background-color: #3a8d61;
}

.head {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 150px;
}

.section-top-padding {
  padding-top: 150px;
  padding-bottom: 150px;
}

.header-top {
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.header-top .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-top-contacts .fa-envelope,
.header-top-contacts .fa-phone-alt {
  color: #55a37a;
  margin-right: 10px;
}

.header-top-contacts a {
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
  margin-top: 5px;
  font-size: 24px;
  cursor: pointer;
}

.header-top-contacts a:hover {
  color: #55a37a;
}

.header-bottom {
  background-image: url("../img/bg-house.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 750px;
  position: relative;
}

.header-bottom:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
  z-index: 1;
}

.header-bottom .container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-bottom-text h1 {
  font-size: 56px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.header-bottom-text p {
  font-size: 24px;
  line-height: 24px;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-bottom-btn {
  margin-top: 50px;
}

.header-bottom-img {
  position: relative;
  z-index: 3;
  width: 420px;
  height: 670px;
}

.header-bottom-img img {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.works {
  position: relative;
}

.works::before {
  content: '';
  position: absolute;
  top: 0;
  left: 40px;
  width: 315px;
  height: 100%;
  background-color: #55a37a;
  opacity: .7;
  -webkit-transform: skew(-24deg);
          transform: skew(-24deg);
}

.works:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .1;
  z-index: 1;
}

.works .head {
  color: #000;
  position: relative;
  z-index: 2;
}

.works-inner {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.works-inner-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 100px;
  padding: 30px 20px;
  height: 400px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.works-inner-item:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

.works-inner-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  height: 83px;
  width: 83px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#55a37a), to(#17d023));
  background-image: linear-gradient(#55a37a, #17d023);
  background-size: cover;
  text-shadow: -2px 0 0 rgba(0, 0, 0, 0.5);
  color: white !important;
}

.works-inner-item span .u-svg-content {
  width: 0;
  height: 0;
}

.works-inner-item span svg:not(:root) {
  overflow: hidden;
}

.works-inner-item span .u-svg-link {
  width: 70%;
  height: 70%;
  fill: currentColor;
}

.works-inner-item h3 {
  font-size: 24px;
  line-height: 30px;
  margin-left: 50px;
}

.works-inner-item p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.works-inner-item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.works .item-right,
.works .item-bottom,
.works .item-left,
.works .item-left-bottom,
.works .item-bottom-right {
  position: relative;
}

.works .item-right:after,
.works .item-bottom:after,
.works .item-left:after,
.works .item-left-bottom:after,
.works .item-bottom-right:after {
  content: '';
  position: absolute;
  background-color: #55a37a;
  z-index: -1;
}

.works .item-right:after,
.works .item-bottom-right:after {
  width: 103px;
  height: 10px;
  top: 50%;
  right: -103px;
}

.works .item-bottom:after,
.works .item-left-bottom:after {
  width: 10px;
  height: 103px;
  left: 50%;
  bottom: -25%;
}

.works .item-left:after {
  width: 103px;
  height: 10px;
  top: 50%;
  left: -103px;
}

.materials {
  color: #000;
  text-align: center;
}

.materials-inner-text {
  text-align: center;
}

.materials-inner-text p {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.materials-inner-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.materials-inner-box {
  width: 200px;
  height: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.materials-inner-box:hover {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 17px 0px rgba(34, 60, 80, 0.2);
}

.services {
  color: #fff;
  background-image: url("../img/wood-services.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.services:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
  z-index: 1;
}

.services .head {
  position: relative;
  z-index: 2;
}

.services-inner {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-inner-item {
  text-align: center;
  width: 350px;
  height: 550px;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  margin-right: 20px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.services-inner-item:nth-child(4n) {
  margin-right: 0;
}

.services-inner-item:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.2);
}

.services-inner-item h3 {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 10px;
}

.services-inner-item p {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
}

.services-inner-item img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
}

.reasons {
  background-color: #fff;
  color: #000;
}

.reasons span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  height: 83px;
  margin: 0 auto;
  width: 83px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#55a37a), to(#17d023));
  background-image: linear-gradient(#55a37a, #17d023);
  background-size: cover;
  text-shadow: -2px 0 0 rgba(0, 0, 0, 0.5);
  color: white !important;
}

.reasons span .u-svg-content {
  width: 0;
  height: 0;
}

.reasons span svg:not(:root) {
  overflow: hidden;
}

.reasons span .u-svg-link {
  width: 70%;
  height: 70%;
  fill: currentColor;
}

.reasons .head {
  margin-bottom: 20px;
}

.reasons .subtitle {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.reasons-inner {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reasons-inner-item {
  text-align: center;
  width: 350px;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 30px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
}

.reasons-inner-item:last-child {
  margin-right: 0;
}

.reasons-inner-item h3 {
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
  text-transform: uppercase;
}

.reasons-inner-item p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}

.reasons-btn {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
}
