$mainColor: #55a37a;
.container {
    max-width: 1520px;
    margin: 0 auto;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

.btn {
    width: 350px;
    height: 70px;
    border-radius: 10px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    box-sizing: border-box;
    background-color: $mainColor;
    transition: background-color .25s ease;
    box-shadow: 0px 1px 21px 0px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: #fff;
    &:hover {
        background-color: #32684b;
    }
}

.head {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 150px;
    position: relative;
    z-index: 2;
}

.section-top-padding {
    padding-top: 150px;
    padding-bottom: 150px;
}