@import 'reset';
@import 'var';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.header-top {
    height: 70px;
    width: 100%;
    background-color: rgba(#000000, .7);
    color: #fff;
    .container {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-contacts {
        display: flex;
        flex-direction: column;
        .fa-envelope,
        .fa-phone-alt {
            color: $mainColor;
            margin-right: 10px;
        }
        a {
            transition: color .25s ease;
            margin-top: 5px;
            font-size: 18px;
            cursor: pointer;
            &:hover {
                color: $mainColor;
            }
        }
    }
}

.header-bottom {
    background-image: url('../img/bg-house.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 200px;
    box-sizing: border-box;
    height: 750px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .6;
        z-index: 1;
    }
    .container {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-text {
        h1 {
            font-size: 45px;
            line-height: 1;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
        p {
            font-size: 18px;
            line-height: 1;
            display: block;
            background-color: rgba(#000000, .4);
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &-btn {
        margin-top: 50px;
    }
    &-img {
        position: relative;
        z-index: 3;
        width: 420px;
        height: 670px;
        // &:before {
        //     content: '';
        //     position: absolute;
        //     right: -20px;
        //     top: -20px;
        //     width: 100%;
        //     height: 100%;
        //     background-color: $mainColor;
        //     opacity: .3;
        //     z-index: 2;
        // }
        // &:after {
        //     content: '';
        //     position: absolute;
        //     right: 20px;
        //     top: 20px;
        //     width: 100%;
        //     height: 100%;
        //     background-color: #fff;
        //     opacity: .3;
        //     z-index: 1;
        // }
        img {
            position: relative;
            z-index: 3;
            width: 100%;
            height: 100%;
        }
    }
}

.works {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 40px;
        width: 315px;
        height: 100%;
        background-color: $mainColor;
        opacity: .7;
        transform: skew(-24deg);
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .1;
        z-index: 1;
    }
    .head {
        color: #000;
        position: relative;
        z-index: 2;
    }
    &-inner {
        position: relative;
        z-index: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        &-item {
            box-sizing: border-box;
            // margin-right: 50px;
            margin-bottom: 100px;
            padding: 20px 20px;
            height: 370px;
            flex-basis: 40%;
            border-radius: 20px;
            background-color: rgba(#000000, .9);
            transition: all .25s ease;
            &:hover {
                background-color: rgba(255, 255, 255, .7);
                color: #000;
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                border-radius: 15px;
                height: 50px;
                width: 50px;
                background-image: linear-gradient(#55a37a, #17d023);
                background-size: cover;
                text-shadow: -2px 0 0 rgba(0, 0, 0, .5);
                color: rgb(255, 255, 255) !important;
                .u-svg-content {
                    width: 0;
                    height: 0;
                }
                svg:not(:root) {
                    overflow: hidden;
                }
                .u-svg-link {
                    width: 70%;
                    height: 70%;
                    fill: currentColor;
                }
            }
            h3 {
                font-size: 24px;
                line-height: 30px;
                margin-left: 10px;
            }
            p {
                margin-top: 20px;
                font-size: 18px;
                line-height: 24px;
                text-align: left;
            }
            &-head {
                display: flex;
                align-items: center;
            }
        }
    }
    .item-right,
    .item-bottom,
    .item-left,
    .item-left-bottom,
    .item-bottom-right {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            background-color: $mainColor;
            z-index: -1;
        }
    }
    .item-right,
    .item-bottom-right {
        &:after {
            width: 103px;
            height: 10px;
            top: 50%;
            right: -103px;
        }
    }
    .item-bottom,
    .item-left-bottom {
        &:after {
            width: 10px;
            height: 110px;
            left: 50%;
            bottom: -29%;
        }
    }
    .item-left {
        &:after {
            width: 103px;
            height: 10px;
            top: 50%;
            left: -103px;
        }
    }
}

.materials {
    color: #000;
    text-align: center;
    &-inner {
        &-text {
            text-align: center;
            p {
                font-size: 18px;
                line-height: 1.5;
                text-align: center;
            }
        }
        &-img {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 50px;
        }
        &-box {
            width: 200px;
            height: 140px;
            box-sizing: border-box;
            padding: 10px;
            transition: all .25s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                box-shadow: 0px 0px 17px 0px rgba(34, 60, 80, 0.2);
            }
        }
    }
}

.services {
    color: #fff;
    background-image: url('../img/wood-services.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .7;
        z-index: 1;
    }
    .head {
        position: relative;
        z-index: 2;
    }
    &-inner {
        position: relative;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-item {
            text-align: center;
            width: 350px;
            height: 470px;
            padding: 25px 20px;
            box-sizing: border-box;
            background-color: rgba(0, 0, 0, .8);
            margin-top: 20px;
            margin-right: 20px;
            transition: all .25s ease;
            &:nth-child(4n) {
                margin-right: 0;
            }
            &:hover {
                background-color: rgba(255, 255, 255, .9);
                color: #000;
                transform: scale(1.1);
                box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.2);
            }
            h3 {
                font-size: 18px;
                line-height: 1.4;
                font-weight: bold;
                text-align: center;
                margin-top: 10px;
            }
            p {
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                margin-top: 10px;
            }
            img {
                width: 100%;
                height: 190px;
                object-fit: cover;
            }
        }
    }
}

.reasons {
    background-color: #fff;
    color: #000;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 45%;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: rgba($mainColor, .8);
        z-index: 1;
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 50%;
        height: 60px;
        margin: 0 auto;
        width: 60px;
        background-image: linear-gradient(#55a37a, #17d023);
        background-size: cover;
        text-shadow: -2px 0 0 rgba(0, 0, 0, .5);
        color: rgb(255, 255, 255) !important;
        .u-svg-content {
            width: 0;
            height: 0;
        }
        svg:not(:root) {
            overflow: hidden;
        }
        .u-svg-link {
            width: 70%;
            height: 70%;
            fill: currentColor;
        }
    }
    .head {
        margin-bottom: 50px;
    }
    .subtitle {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
    }
    &-inner {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        z-index: 2;
        &-item {
            text-align: center;
            width: 300px;
            padding: 30px 20px;
            box-sizing: border-box;
            margin-right: 30px;
            margin-top: 30px;
            box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
            background-color: #fff;
            &:last-child {
                margin-right: 0;
            }
            h3 {
                font-size: 18;
                line-height: 1.4;
                font-weight: bold;
                margin-top: 20px;
                text-transform: uppercase;
            }
            p {
                font-size: 16px;
                line-height: 22px;
                margin-top: 10px;
            }
        }
    }
    &-btn {
        width: 400px;
        margin: 0 auto;
        margin-top: 100px;
        display: block;
    }
}

.contacts {
    background-image: url('../img/contacts-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &-first {
        &-phone {
            margin-bottom: 30px;
        }
        &-time {
            margin-bottom: 30px;
        }
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .6;
        z-index: 1;
    }
    &-inner {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &-first-item {
        position: relative;
        z-index: 2;
        height: 330px;
        width: 460px;
        padding: 30px 20px 0 20px;
        box-sizing: border-box;
        background-color: $mainColor;
        display: flex;
        flex-direction: column;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -110%;
            background-color: $mainColor;
            width: 110%;
            height: 40px;
        }
        span {
            display: inline-block;
            width: 20px;
            height: 20px;
            i {
                font-size: 20px;
            }
        }
        h3 {
            display: inline-block;
            font-weight: bold;
            font-size: 18px;
            line-height: 1.4;
            margin-left: 25px;
            margin-bottom: 15px;
        }
        a,
        p {
            display: block;
            font-size: 18px;
            line-height: 22px;
        }
        a {
            font-weight: bold;
            transition: color .25s ease;
            &:hover {
                color: #000;
            }
        }
        .phone-first {
            display: inline-block;
            margin-right: 20px;
        }
        .phone-second {
            display: inline-block;
        }
    }
    &-second-item {
        position: relative;
        z-index: 2;
        width: 440px;
        height: 400px;
        padding: 30px 50px 30px 40px;
        box-sizing: border-box;
        background-color: rgba($mainColor, 1);
        text-align: center;
        h3 {
            font-size: 24px;
            line-height: 1.1;
            margin-bottom: 40px;
        }
    }
    form {
        height: 300px;
    }
    .input-wrapper {
        width: 100%;
        margin-bottom: 30px;
        height: 50px;
    }
    input {
        width: 100%;
        height: 50px;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 18px;
        color: #fff;
        transition: all .25s ease;
        &:hover {
            box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
        }
        &:focus,
        &:active {
            outline: none;
        }
    }
    &-btn {
        margin-top: 20px;
        background-color: darken(#32684b, 10%);
        &:hover {
            background-color: #29522b;
        }
    }
}

.footer {
    padding: 100px 0;
    color: #000;
    &-inner {
        display: flex;
        justify-content: space-between;
    }
    h2 {
        font-size: 24px;
        font-weight: bold;
    }
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    a {
        display: block;
        color: $mainColor;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: all .25s ease;
        &:hover {
            color: #000;
        }
    }
    &-social {
        &-all {
            width: 42px;
            height: 42px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            margin-right: 10px;
            margin-top: 20px;
            transition: transform .25s ease;
            &:hover {
                transform: scale(1.1);
            }
            i {
                color: #fff;
                font-size: 24px;
            }
        }
        &-youtube {
            background-color: rgb(210, 34, 21);
        }
        &-instagram {
            background-color: rgb(197, 54, 164);
        }
        &-vk {
            background-color: rgb(77, 118, 161);
        }
        &-whatsapp {
            background-color: rgb(0, 230, 118);
        }
    }
    &-reviews {
        a {
            margin-top: 20px;
            font-size: 16px;
        }
    }
}

@media (max-width: 1599px) {
    .container {
        width: 1170px;
    }
    .works {
        &-inner {
            &-item {
                height: auto;
                margin-bottom: 80px;
                &-head {
                    display: grid;
                    grid-template-columns: 83px 1fr;
                    span {
                        display: inline-flex;
                    }
                }
            }
        }
        .item-right,
        .item-bottom-right {
            &:after {
                width: 80px;
                height: 10px;
                top: 50%;
                right: -79px;
            }
        }
        .item-bottom,
        .item-left-bottom {
            &:after {
                bottom: -22%;
                height: 88px;
            }
        }
        .item-left {
            &:after {
                width: 80px;
                height: 10px;
                top: 50%;
                left: -79px;
            }
        }
    }
    .services {
        &-inner {
            &-item {
                &:nth-child(4n) {
                    margin-right: 20px;
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
    }
    .reasons {
        &-inner {
            justify-content: center;
            &-item {
                flex-basis: 32%;
                margin-right: 0;
                &:nth-child(1n) {
                    margin-right: 20px;
                }
            }
        }
    }
    .contacts {
        &-first {
            &-item {
                &:after {
                    width: 30%;
                    right: -27%;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 932px;
    }
    .header-bottom h1 {
        br {
            display: none;
        }
    }
    .works {
        &-inner-item {
            p {
                font-size: 16px;
                line-height: 22px;
            }
            h3 {
                font-size: 18px;
                line-height: 1.2;
            }
        }
        .item-right,
        .item-bottom-right {
            &::after {
                width: 65px;
                height: 10px;
                top: 50%;
                right: -63px;
            }
        }
        .item-bottom,
        .item-left-bottom {
            &:after {
                bottom: -19%;
                height: 105px;
            }
        }
        .item-left:after {
            width: 65px;
            height: 10px;
            top: 50%;
            left: -65px;
        }
    }
    .materials {
        &-inner {
            &-img {
                justify-content: space-evenly;
            }
        }
    }
    .services {
        &-inner {
            &-item {
                &:nth-child(2n) {
                    margin-right: 0;
                }
                &:nth-child(1n) {
                    margin-right: 20px;
                }
            }
        }
    }
    .contacts {
        &-inner {
            flex-direction: column;
        }
        &-first-item {
            &:after {
                display: none;
            }
        }
        &-second-item {
            margin-top: 50px;
        }
    }
    .footer {
        padding: 70px 0;
        &-inner {
            flex-wrap: wrap;
        }
    }
    .works .item-bottom:after,
    .works .item-left-bottom:after {
        bottom: -20%;
        height: 80px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 728px;
    }
    .header-bottom {
        height: 700px;
    }
    .footer {
        &-inner {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &-social {
            margin-top: 30px;
        }
        &-reviews {
            margin-top: 30px;
        }
    }
    .head {
        font-size: 24px;
        line-height: 36px;
    }
    .services {
        &-inner-item {
            width: 340px;
            height: 480px;
            h3 {
                font-size: 18px;
                line-height: 22px;
            }
            p {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    .section-top-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .reasons {
        &-inner-item {
            flex-basis: 45%;
        }
    }
    .works {
        &::before {
            left: 210px;
        }
        overflow: hidden;
        &-inner {
            flex-direction: column;
        }
        &-inner-item {
            margin-bottom: 50px;
        }
        .item-right,
        .item-bottom,
        .item-left {
            order: -1;
        }
    }
    .works .item-right,
    .works .item-bottom,
    .works .item-left,
    .works .item-left-bottom,
    .works .item-bottom-right {
        &:after {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: calc(100% - 40px);
    }
}

@media (max-width: 660px) {
    .reasons-inner-item {
        flex-basis: 70%;
    }
    .reasons span {
        width: 40px;
        height: 40px;
    }
    .works-inner-item-head span {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 525px) {
    .container {
        width: calc(100% - 16px);
    }
    .head {
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 50px;
    }
    .section-top-padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .header-top {
        height: 60px;
        img {
            width: 20%;
        }
        &-contacts {
            text-align: right;
            a {
                font-size: 14px;
            }
        }
    }
    .header-bottom {
        height: 500px;
        padding-top: 100px;
        &-text {
            h1 {
                font-size: 24px;
                line-height: 1.3;
            }
            p {
                font-size: 14px;
                line-height: 1.2;
            }
        }
    }
    .btn {
        width: 250px;
        height: 50px;
        font-size: 14px;
    }
    .works-inner-item {
        margin-bottom: 30px;
        h3 {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
    }
    .works-inner-item-head {
        grid-template-columns: 40px 1fr;
        & span {
            width: 30px;
            height: 30px;
        }
    }
    .materials-inner-text p {
        font-size: 14px;
    }
    .materials-inner-box {
        width: 150px;
        height: 150px;
    }
    .services-inner-item {
        width: 300px;
        height: 480px;
        &:hover {
            transform: scale(1.04);
        }
        h3 {
            font-size: 16px;
            line-height: 1.4;
        }
        p {
            font-size: 14px;
        }
        &:nth-child(1n) {
            margin-right: 0;
        }
    }
    .reasons {
        &:after {
            display: none;
        }
        .subtitle {
            font-size: 16px;
        }
        &-inner-item {
            padding: 15px;
            h3 {
                font-size: 16px;
            }
            p {
                font-size: 14px;
            }
            &:nth-child(1n) {
                margin-right: 0;
            }
        }
    }
    .contacts {
        input {
            height: 40px;
            font-size: 12px;
        }
        .input-wrapper {
            margin-bottom: 20px;
        }
        &-first-item {
            width: 300px;
            height: 350px;
            a {
                font-size: 14px;
            }
            p {
                font-size: 14px;
            }
            h3 {
                font-size: 16px;
            }
            span i {
                font-size: 16px;
            }
        }
        &-second-item {
            width: 300px;
            height: 370px;
            padding: 48px 25px 32px 25px;
            h3 {
                font-size: 16px;
            }
            .btn {
                width: 250px;
            }
        }
    }
    .footer {
        padding: 40px 0 40px 0px;
        h2 {
            font-size: 18px;
        }
        h3 {
            font-size: 16px;
        }
        a {
            font-size: 14px;
        }
        &-social-all {
            width: 30px;
            height: 30px;
            i {
                font-size: 14px;
            }
        }
    }
}